@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Options
@using System.Globalization
@using Microsoft.AspNetCore.Mvc.Localization

<div class="section">
    <div data-w-id="af7fa529-2e2a-44d1-43a5-adc7d50b2901" class="project-details-hero">
        <div class="container project-container">
            <div class="project-details-grid">
                <div class="project-template-holder">
                    <div class="project-summery-holder">
                        <div class="project-details-wrapper">
                            <div class="perspective">
                                <div style="opacity:0;-webkit-transform:translate3d(0, 218px, 0) scale3d(1, 1, 1) rotateX(-15deg) rotateY(106deg) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 218px, 0) scale3d(1, 1, 1) rotateX(-15deg) rotateY(106deg) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 218px, 0) scale3d(1, 1, 1) rotateX(-15deg) rotateY(106deg) rotateZ(0) skew(0, 0);transform:translate3d(0, 218px, 0) scale3d(1, 1, 1) rotateX(-15deg) rotateY(106deg) rotateZ(0) skew(0, 0);transform-style:preserve-3d"
                                     class="text-animation-04">
                                    <div class="project-title-details">Style Unveiled</div>
                                </div>
                            </div>
                        </div>
                        <div class="project-summery-wrapper">
                            <div class="perspective small">
                                <div style="opacity:0;-webkit-transform:translate3d(0, 218px, 0) scale3d(1, 1, 1) rotateX(-15deg) rotateY(106deg) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 218px, 0) scale3d(1, 1, 1) rotateX(-15deg) rotateY(106deg) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 218px, 0) scale3d(1, 1, 1) rotateX(-15deg) rotateY(106deg) rotateZ(0) skew(0, 0);transform:translate3d(0, 218px, 0) scale3d(1, 1, 1) rotateX(-15deg) rotateY(106deg) rotateZ(0) skew(0, 0);transform-style:preserve-3d"
                                     class="text-animation-05">
                                    <p class="project-summery-text">
                                        Lorem ipsum dolor sit amet, consectetur
                                        adipiscing elit, sed do eiusmod tempor ut labore et dolore magna.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="social-media-holder left">
                    <div class="social-media-links">
                        <a data-w-id="17f1db69-29d7-4113-4f3c-3bad78d3553c"
                           style="opacity:0" href="http://instagram.com" target="_blank"
                           class="hero-link">INSTAGRAM</a><a data-w-id="17f1db69-29d7-4113-4f3c-3bad78d3553e"
                                                             style="opacity:0" href="http://whatsapp.com" target="_blank"
                                                             class="hero-link">WHATSAPP</a>
                    </div><a data-w-id="17f1db69-29d7-4113-4f3c-3bad78d35540"
                             style="opacity:0" href="mailto:email@EMAIL.COM" class="hero-link">GATSBY@EMAIL.COM</a>
                </div>
                <div class="rich-text-wrapper">
                    <div class="fade-in-on-scroll">
                        <div class="rich-text w-richtext">
                            <h2>Ipsa ut consectetur reiciendis qui et ducimus voluptatem earum.</h2>
                            <p>
                                Velit iusto omnis temporibus at quod quidem corrupti. Voluptas commodi dicta non
                                quidem debitis fugiat. Quam natus est harum. Quia harum ut praesentium est
                                excepturi. Eaque quo sapiente magnam ea cum eligendi delectus.
                            </p>
                            <h3>Et iure iure sapiente.</h3>
                            <blockquote>
                                Quae error reiciendis voluptatem dolor. Laborum adipisci et vel. Eaque id
                                sint sit consequuntur accusantium ea enim. Excepturi in eos laboriosam numquam enim
                                assumenda quia ut quod. Aut ipsam et.
                            </blockquote>
                            <p>
                                Rerum qui accusamus. Dolorum iure facilis mollitia distinctio consequatur. Unde et
                                voluptatibus ea. Magnam vero quia velit autem.
                            </p>
                            <p>
                                Perferendis non ea repellendus dolore quod quae animi voluptas. Qui blanditiis rerum
                                laborum. Molestiae alias quisquam et quis.
                            </p>
                            <h2>Commodi a quia fugit.</h2>
                            <p>Qui ex consequatur natus. Eum nihil quidem. Cumque minima dicta natus soluta.</p>
                            <h3>Temporibus itaque enim eos cumque amet sit laudantium eos.</h3>
                            <blockquote>
                                Nulla quo ex iusto. At unde ex. Labore nostrum dolores eos fugit deleniti
                                reprehenderit molestiae inventore aliquam. Aut atque sed maiores esse quia
                                distinctio est. Aut delectus dicta ducimus aut et quibusdam. Non consectetur porro
                                quae.
                            </blockquote>
                            <p>
                                Corrupti magnam aut omnis voluptatem totam ea at vitae mollitia. Impedit libero esse
                                natus. Assumenda labore ea odio sint omnis est.
                            </p>
                            <p>
                                Quia amet ut voluptas possimus blanditiis amet odio est. Consectetur quae rerum. Sint
                                facilis reprehenderit soluta nostrum. Saepe omnis vitae ea possimus. Molestiae non
                                dolorem. Incidunt ducimus consequatur sapiente qui enim veniam tempore.
                            </p>
                            <h2>Quod ea error atque enim quo natus.</h2>
                            <p>
                                Unde modi et harum sit. Quidem a aperiam molestiae nulla. Officiis cupiditate
                                explicabo consequatur expedita dolor et. Dolorem delectus aliquam non veritatis et
                                explicabo illo.
                            </p>
                            <h3>Omnis dolorem consequuntur.</h3>
                            <blockquote>
                                Hic sed repellendus enim recusandae minima. Voluptatem iusto et nobis
                                distinctio ipsum commodi voluptas. Pariatur harum occaecati. Aut tempore aperiam nam
                                quos dignissimos iure nam quam.
                            </blockquote>
                            <p>
                                Dolor quisquam reprehenderit ullam quos quam expedita voluptate. Mollitia dolor atque
                                dolor. Qui at rerum illum nesciunt commodi repellat natus. Quis nesciunt et
                                voluptatem voluptas consectetur dolore ut. Laudantium tenetur cumque omnis omnis
                                ducimus et facere. Nisi quasi doloremque quae quia ipsam.
                            </p>
                            <p>
                                Dolores voluptates enim reiciendis velit dolorum. Quam veritatis velit ratione at
                                consequatur. Fugiat voluptatibus a consequatur. In consequatur commodi modi. Eius
                                dolores et vero voluptatem rerum non qui. Qui qui iusto aut sit.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="project-template-image-wrapper">
            <img src="~/images/image-209.jpg" alt="" loading="lazy"
                 sizes="100vw"
                 srcset="~/images/image-209-p-500.jpg 500w, ~/images/image-209-p-800.jpg 800w, ~/images/image-209-p-1080.jpg 1080w, ~/images/image-209.jpg 1178w"
                 class="project-template-image" />
            <div class="project-fade"></div>
            <div class="project-overlay"></div>
        </div>
    </div>
</div>
<div class="section more-projects">
    <div class="center-title">
        <div data-w-id="f75d098e-7ec9-ccc9-3e02-b0af30ebe51a" style="opacity:0" class="centered-title">
            Other Work
        </div>
    </div>
    <div class="projects-wrapper">
        <div data-w-id="563ab6a4-a67e-f2df-33a3-248ad43dad20"
             style="-webkit-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0"
             class="home-projects-wrapper w-dyn-list">
            <div role="list" class="home-projects-list w-dyn-items">
                <div role="listitem" class="home-projects-item w-dyn-item">
                    <a href="@Url.Action("UnleashedImagination","Home")"
                       class="project-item-holder w-inline-block">
                        <img src="~/images/image-205.jpg" loading="lazy"
                             alt="" sizes="(max-width: 1439px) 300px, 350.0000305175781px"
                             srcset="~/images/image-205-p-500.jpg 500w, images/image-205-p-800.jpg 800w, images/image-205-p-1080.jpg 1080w, images/image-205.jpg 1178w"
                             class="project-thumbnail-image" />
                    </a>
                </div>
                <div role="listitem" class="home-projects-item w-dyn-item">
                    <a href="@Url.Action("CreativeChronicles","Home")"
                       class="project-item-holder w-inline-block">
                        <img src="~/images/image-206.jpg" loading="lazy"
                             alt="" sizes="(max-width: 1439px) 300px, 350.0000305175781px"
                             srcset="~/images/image-206-p-500.jpg 500w, images/image-206-p-800.jpg 800w, images/image-206.jpg 1178w"
                             class="project-thumbnail-image" />
                    </a>
                </div>
                <div role="listitem" class="home-projects-item w-dyn-item">
                    <a href="@Url.Action("EclecticElegance","Home")"
                       class="project-item-holder w-inline-block">
                        <img src="~/images/image-207.jpg" loading="lazy"
                             alt="" sizes="(max-width: 1439px) 300px, 350.0000305175781px"
                             srcset="~/images/image-207-p-500.jpg 500w, images/image-207-p-800.jpg 800w, images/image-207.jpg 1178w"
                             class="project-thumbnail-image" />
                    </a>
                </div>
                <div role="listitem" class="home-projects-item w-dyn-item">
                    <a href="@Url.Action("VisualSymphony","Home")"
                       class="project-item-holder w-inline-block">
                        <img src="~/images/image-208.jpg" loading="lazy"
                             alt="" sizes="(max-width: 1439px) 300px, 350.0000305175781px"
                             srcset="~/images/image-208-p-500.jpg 500w, images/image-208-p-800.jpg 800w, images/image-208.jpg 1178w"
                             class="project-thumbnail-image" />
                    </a>
                </div>
            </div>
        </div>
        <div data-w-id="fd61d639-c5da-c488-98f7-d6f943a3fe91" class="infnite-text-holder">
            <div style="-webkit-transform:translate3d(100%, 200px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(6deg) skew(0, 0);-moz-transform:translate3d(100%, 200px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(6deg) skew(0, 0);-ms-transform:translate3d(100%, 200px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(6deg) skew(0, 0);transform:translate3d(100%, 200px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(6deg) skew(0, 0);opacity:1"
                 class="infnite-text-container _01">
                <div style="-webkit-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
                     class="infnite-text-wrapper _01">
                    <div class="infnite-text">Available, UK Based Only</div>
                    <div class="dot"></div>
                    <div class="infnite-text grey">Available, UK Based Only</div>
                    <div class="dot"></div>
                </div>
                <div style="-webkit-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
                     class="infnite-text-wrapper _01">
                    <div class="infnite-text">Available, UK Based Only</div>
                    <div class="dot"></div>
                    <div class="infnite-text grey">Available, UK Based Only</div>
                    <div class="dot"></div>
                </div>
                <div style="-webkit-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
                     class="infnite-text-wrapper _01">
                    <div class="infnite-text">Available, UK Based Only</div>
                    <div class="dot"></div>
                    <div class="infnite-text grey">Available, UK Based Only</div>
                    <div class="dot"></div>
                </div>
                <div style="-webkit-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
                     class="infnite-text-wrapper _01">
                    <div class="infnite-text">Available, UK Based Only</div>
                    <div class="dot"></div>
                    <div class="infnite-text grey">Available, UK Based Only</div>
                    <div class="dot"></div>
                </div>
                <div style="-webkit-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
                     class="infnite-text-wrapper _01">
                    <div class="infnite-text">Available, UK Based Only</div>
                    <div class="dot"></div>
                    <div class="infnite-text grey">Available, UK Based Only</div>
                    <div class="dot"></div>
                </div>
            </div>
            <div style="-webkit-transform:translate3d(-100%, 200px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(-6deg) skew(0, 0);-moz-transform:translate3d(-100%, 200px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(-6deg) skew(0, 0);-ms-transform:translate3d(-100%, 200px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(-6deg) skew(0, 0);transform:translate3d(-100%, 200px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(-6deg) skew(0, 0);opacity:1"
                 class="infnite-text-container _02">
                <div style="-webkit-transform:translate3d(-100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(-100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(-100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(-100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
                     class="infnite-text-wrapper _02">
                    <div class="infnite-text white">Available, UK Based Only</div>
                    <div class="dot white-dot"></div>
                    <div class="infnite-text grey white">Available, UK Based Only</div>
                    <div class="dot white-dot"></div>
                </div>
                <div style="-webkit-transform:translate3d(-100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(-100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(-100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(-100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
                     class="infnite-text-wrapper _02">
                    <div class="infnite-text white">Available, UK Based Only</div>
                    <div class="dot white-dot"></div>
                    <div class="infnite-text grey white">Available, UK Based Only</div>
                    <div class="dot white-dot"></div>
                </div>
                <div style="-webkit-transform:translate3d(-100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(-100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(-100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(-100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
                     class="infnite-text-wrapper _02">
                    <div class="infnite-text white">Available, UK Based Only</div>
                    <div class="dot white-dot"></div>
                    <div class="infnite-text grey white">Available, UK Based Only</div>
                    <div class="dot white-dot"></div>
                </div>
                <div style="-webkit-transform:translate3d(-100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(-100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(-100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(-100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
                     class="infnite-text-wrapper _02">
                    <div class="infnite-text white">Available, UK Based Only</div>
                    <div class="dot white-dot"></div>
                    <div class="infnite-text grey white">Available, UK Based Only</div>
                    <div class="dot white-dot"></div>
                </div>
                <div style="-webkit-transform:translate3d(-100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(-100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(-100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(-100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
                     class="infnite-text-wrapper _02">
                    <div class="infnite-text white">Available, UK Based Only</div>
                    <div class="dot white-dot"></div>
                    <div class="infnite-text grey white">Available, UK Based Only</div>
                    <div class="dot white-dot"></div>
                </div>
            </div>
        </div>
    </div>
</div>